.nav-link.active {
    text-decoration-line: none;
    text-shadow: 0px 0px 5px white;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8fafc;
}

.button-parent {
    display: grid; 
    place-items: center;
}

.primary-button {
    background-color: #3b82f6;
    color: white;
    border-radius: 2rem;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.primary-button:hover {
    background-color: #3b82f6;
}

.secondary-button {
    background-color: transparent;
    border-radius: 2rem;
    border-width: 2px;
    border-color: #3b82f6;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.primary-button:hover, .secondary-button:hover, .nav-link:hover, .nav-link.active {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.primary-button:active, .secondary-button:active {
    transform: scale(1);
    transition: transform 0s ease;
}

.primary-button:active {
    background-color: #1e3a8a;
}

.button-icon {
    height: 75%;
}

.primary-color {
    background-color: #1e3a8a;
}

