.nav-link.active {
    text-decoration-line: none;
    text-shadow: 0px 0px 5px white;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8fafc;
}

.primary-button {
    background-color: #3b82f6;
    color: white;
    border-radius: 2rem;
}