.nav-link.active {
    text-decoration-line: none;
    text-shadow: 0px 0px 5px white;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8fafc;
}

.button-parent {
    display: grid; 
    place-items: center;
}

.primary-button {
    background-color: #3b82f6;
    color: white;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.primary-button:hover {
    background-color: #3b82f6;
}

.secondary-button {
    background-color: transparent;
    border-width: 2px;
    border-color: #3b82f6;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.primary-button, .secondary-button, .programming-language-pill, .framework-pill, .tool-pill, .soft-skill-pill {
    border-radius: 2rem;
}

.primary-button:hover, .secondary-button:hover, .nav-link:hover, .nav-link.active {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.primary-button:active, .secondary-button:active {
    transform: scale(1);
    transition: transform 0s ease;
}

.primary-button:active {
    background-color: #1e3a8a;
}

.button-icon {
    height: 50%;
}

.primary-color {
    background-color: #1e3a8a;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-element {
    box-shadow: 0 5px 5px #808080;
    padding: 20px;
    border-radius: 2rem;
    border-width: 1px;
}

.programming-language-pill {
    background-color: #dbeafe;
    color: #1e40af;
}
.framework-pill {
    background-color: #ccfbf1;
    color: #115e59;
}

.tool-pill {
    background-color: #e0e7ff;
    color: #3730a3;
}

.soft-skill-pill {
    background-color: #fef3c7;
    color: #92400e;
}
.programming-language-pill, .framework-pill, .tool-pill, .soft-skill-pill {
    padding-inline: 1rem;
}